---
layout:         default
---

<div class="bg-shape bg-dark border-top border-primary border-top-4">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6 col-md-12 col-12">
        <div class="py-12 pt-lg-10 pb-lg-15 text-center">
          <div class="mb-5">
            <a href="{{ site.url | absolute_url }}" class="display-4">
              <i class="far fa-chart-bar"></i>
            </a>
          </div>
          <!--<h1 class="text-white mb-4">
            {{ site.title }}
          </h1>-->
          <p class="lead">
            {{ site.tagline }}
          </p>
          <h1 id="worst" class="text-white mb-4">
            Checking...
          </h1>
          <p id="sub" class="lead"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-14">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <h3 class="mb-3">Where do we get our data?</h3>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <h3 class="mb-3">What can you do to stay safe?</h3>
          </div>

          <div class="col-lg-6 col-md-6 col-12">
            <p class="mb-4">
              We're referencing <a href="https://covidtracking.com/about">The COVID Tracking Project's</a> data and looking at the newest increase of COVID positive tests on the most recent day data is available. 
            </p>
            <p>
              That data is then compared to all previous days to determine if it's the worst day yet. 
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <p class="mb-4">
              Our tip for staying safe? If you're going to socialize, use another thing we built: <a href="https://socialcontract.app/?utm_campaign=worstdayyet">Social Contract</a>, where you can create a COVID pod with your friends and family. Every few days, everyone in your group will get an anonymous survey to see how well they are conforming to the group's agreed-upon COVID protections. 
            </p>
            <p>It's free, so create your own COVID pod today!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {

    var date = new Date();
    var yesterday = new Date(date.getTime());
    yesterday.setDate(date.getDate() - 1);
    var standard = yesterday.getFullYear().toString() + ("0" + (yesterday.getMonth() + 1)).slice(-2) + ("0" + yesterday.getDate()).slice(-2);

    $.getJSON("https://objectif.app/worstdayyet/worst.json", function (json) {
      if (json.highest.date == json.today.date) {
        $("#worst").html("Yes, it's the worst day yet");
        $("#sub").html(" with " + json.today.posInc.toLocaleString("en") + " new COVID cases in the US.");
      } else {
        $("#worst").html("Not the worst day");
        $("#worst").css("font-weight", 400);
        $("#sub").html(" Today had " + json.today.posInc.toLocaleString("en") + " new COVID cases in the US, compared to the highest day of " + json.highest.posInc.toLocaleString("en") + " which was " + moment(json.highest.date, "YYYYMMDD").fromNow() + ".");
      }
    });
  });
</script>
